@using CarSales.Resources


@{
    ViewBag.Title = Resource.AboutUs;
}

<h2>@Resource.AboutUs</h2>
<hr />

<style>
    p {
        text-align: justify;
    }
</style>

<div class="container">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam egestas vitae massa non facilisis. Praesent tincidunt blandit ligula, non porta urna gravida non. Donec interdum velit ac lorem accumsan faucibus. Curabitur venenatis accumsan augue quis vulputate. Aenean magna ligula, suscipit consequat semper eu, cursus id libero. Sed iaculis erat ut mi vulputate facilisis. Quisque facilisis orci arcu, ut facilisis nunc vestibulum consequat. Mauris tristique consequat arcu, a hendrerit sapien laoreet at. Morbi a magna imperdiet, interdum ex vel, pellentesque mauris. Sed nisi lacus, posuere ullamcorper ultrices id, luctus vitae tellus. Integer non mi scelerisque, sodales augue et, pharetra sapien. Nunc vel rutrum elit, ac ornare metus. Proin a lorem eget est feugiat volutpat quis sit amet ante. Nullam luctus consectetur nulla nec fringilla. Mauris molestie turpis vitae arcu finibus placerat.</p>
    <p>In porttitor nulla nec luctus rhoncus. Nunc pulvinar pharetra dolor, et aliquam neque pulvinar vel. Integer porttitor nibh ac sodales consectetur. Sed hendrerit sollicitudin dui et ullamcorper. Fusce lacinia interdum rutrum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris mollis risus eu ornare congue. Fusce mollis, sem non sagittis pretium, tellus enim lobortis ex, ac semper turpis nulla et justo. Sed in viverra felis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Duis varius aliquam dapibus. Aenean egestas ipsum nec turpis porttitor, vel dignissim mi laoreet. Phasellus vestibulum augue tortor, eu sodales mauris lacinia ut.</p>
    <p>Integer non justo fringilla, mattis massa venenatis, consequat sapien. Etiam posuere, nulla a viverra luctus, lacus turpis malesuada nulla, quis tincidunt mi mi nec justo. Nullam consequat est dolor, non eleifend justo malesuada sed. Morbi condimentum vel tellus vel maximus. Aenean interdum enim quis ex egestas rhoncus. Quisque commodo, enim eu condimentum ullamcorper, nibh nibh imperdiet odio, quis tempus odio metus eu lectus. Cras accumsan, ante et commodo commodo, turpis lorem consectetur enim, non hendrerit est nisl feugiat enim. Praesent mi mi, efficitur ac ligula nec, vulputate interdum elit.</p>
</div>

<p>
    @Html.ActionLink(Resource.Back, "Index", "Automobili")
</p>
